<footer class="m-footer">
  <article>
    <section>
      <small>
        <strong>© 2013 - <span class="m-footer__current-year"></span> SassConf Inc. All rights reserved.</strong>
      </small>
    </section>

    <section>
      <small>
      <a href="https://github.com/SassConf/sassconf.github.io">Website Repo</a> |
      <a href="https://github.com/SassConf/sassconf.github.io">@SassConf</a>
      </small>
    </section>
  </article>
</footer>
